form {
    display: table;
    margin: 0 auto;
    display: inline;
}

/* .form-group-all {

} */

lebel {
    margin-right: 5%;
    text-align: center;
}

.btn {
    border-radius: 25px;
    width: 236px;
    height: 40.92px;
    background: linear-gradient(189.68deg, #9E94FF 0%, #7E72F2 99.2%);
    box-shadow: -1px 1px 8px rgba(126, 114, 242, 0.578726);
    border-radius: 4px;
    color: #ffffff;
    margin: 0 auto;
    display: block;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}